:root {
    --spacing: 30px;
    --indent: 30px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff4242;
}

main, article {
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: var(--spacing);
    
    align-items: center;
    gap: var(--spacing);
}

main > header {
    text-align: center;
    width: 97%;
}

article {
    width: 97%;
    
    margin: 0 auto;
    padding: 1.5%;
    border-radius: 15px;

    gap: calc(var(--spacing) * 0.7);

    background-color: #ffffffee;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    padding: 3px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    background-color: #12eaea70;
}

h1, h2, h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

main p, li {
    font-size: 16px;
    font-weight: 400;
}

main p {
    line-height: 20px;
}

li {
    line-height: 26px;
}

footer p, figcaption {
    font-size: 12px;
    font-weight: 400;
}

footer {
    text-align: center;
}

figcaption {
    text-align: end;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

ol li::marker {
    color: #ff4242;
    font-weight: bold;
}

li + li {
    border-top: 0.5px solid #00000030;
}